
src/test/
target/generated-sources/
.idea
out

lib/
loggedIn.json

src/main/resources/css/
src/main/resources/drawable/
target/classes/backend/ActivePeer.class
target/classes/backend/CurrentUser.class
target/classes/backend/DownloadManager.class
target/classes/backend/Proxy.class
target/classes/backend/ServerHandler.class
target/classes/css/
target/classes/drawable/
target/classes/fxml/downloadListCell.fxml
target/classes/fxml/fileListCell1.fxml
target/classes/fxml/filesListCell.fxml
target/classes/fxml/mainPage.fxml
target/classes/fxml/progress.fxml
target/classes/fxml/proxySelect.fxml
target/classes/ui/Controller$1.class
target/classes/ui/Controller$2.class
target/classes/ui/DownloadListCell.class
target/classes/ui/FileListCell.class
target/classes/ui/FileListCell1.class
target/classes/ui/MainPage$1.class
target/classes/ui/MainPage$2.class
target/classes/ui/MainPage$3.class
target/classes/ui/MainPage$4.class
target/classes/ui/MainPage$5.class
target/classes/ui/MainPage$6.class
target/classes/ui/MainPage$7.class
target/classes/ui/MainPage$8.class
target/classes/ui/MainPage$9.class
target/classes/ui/MainPage.class
target/classes/ui/ProxyController.class
target/classes/ui/SignInController$1.class
